{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ coursematerial }}{% endblock %}

{% block main-class %}container{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-10 col-lg-6">
    <a href="{% url 'teaching:coursematerial-list' %}">← {% trans "Back to the list" %}</a>
    <h1>{{ coursematerial }}</h1>
    <p class="small">{% trans "by" %} {{ coursematerial.author.name }}

    {% if coursematerial.contributors.all %}<br>
    {% for contributor in coursematerial.contributors.all %}
      {{ contributor }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    {% endif %}

    {% if coursematerial.tags.all %}<br>
    {% for tag in coursematerial.tags.all %}
      {{ tag }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    {% endif %}
    </p>

    {% if coursematerial.resource_license %}
    <p><strong>{% trans "License:" %}</strong> {{ coursematerial.resource_license }}</p>
    {% endif %}
    {% if coursematerial.level %}
    <p><strong>{% trans "Level:" %}</strong> {{ coursematerial.level }}</p>
    {% endif %}

    <p>{{ coursematerial.description }}</p>

    {% if coursematerial.url %}
    <p>
      🔗 <a href="{{ coursematerial.url }}" target="_blank">{% trans "Link" %}</a>
    </p>
    {% endif %}

    {% if perms.teaching.change_coursematerial %}
    <p class="text-right">
      <a class="btn btn-primary" href="{% url 'teaching:coursematerial-update' coursematerial.pk %}">{% trans "Edit" %}</a>
    </p>
    {% endif %}

  </div>
</div>

{% endblock %}
