{% extends "base.html" %}
{% load static i18n bootstrap4 %}

{% block title %}{% trans "Course material list" %}{% endblock %}

{% block extra_head %}
{{ search_form.media.css }}
<style>
    input, select {width: 100%}
    #id_q_term,
    .select2-container {width: 340px !important ;}
    .form-inline .form-check-input
    {
        flex-shrink: 1;
    }
</style>
{% endblock %}

{% block extra_js%}
{{ search_form.media.js }}
{% endblock %}

{% block main-class %}container{% endblock %}

{% block content %}

<h1>{% trans "Course material list" %}</h1>
<p class="text-right">
  <a class="btn btn-primary"
  href="{% url 'teaching:coursematerial-create' %}" %}>
    {% trans "Add a resource" %}
  </a>
</p>

<div class="search-form mb-4">

<form action="{% url 'teaching:coursematerial-list' %}" method="get">
    <div class="form-inline">
        {% bootstrap_field search_form.q_term layout='inline' form_group_class='form-group mr-sm-2' %}
        {% bootstrap_field search_form.q_tags layout='inline' form_group_class='form-group mr-sm-2' %}
        {% bootstrap_field search_form.q_published layout='inline' form_group_class='form-group mr-sm-2' %}
        {% buttons form_group_class='form-group ml-sm-4' %}
        {# {% bootstrap_button "Reset" button_type="reset" button_class="btn-light mr-2" %} #}
        {% bootstrap_button "Search" button_type="submit" button_class="btn-success" %}
        {% endbuttons %}
    </div>
</form>
</div>

{% if object_list %}

<div class="row">

  {% for course in object_list %}
  <div class="col-sm-6 col-md-4">
    <div class="card mb-3 {{ course.status|lower }}">
      {% include "teaching/_partials/course_card.html" %}
    </div>
  </div>
  {% endfor %}

</div>

{% else %}

<p>{% trans "No resource!" %}</p>

{% endif %}

<p class="text-right">
  <a href="{% url 'teaching:coursematerial-pending-list' %}">&RightArrow; {% trans "Pending course material list" %}</a>
</p>

{% endblock %}
