{% extends "base.html" %}
{% load static i18n bootstrap4 %}

{% block title %}{% trans "Add / Edit course material" %}{% endblock %}

{% block extra_head %}
{{ form.media.css }}
<style>
    input, select {width: 100%}
</style>
{% endblock %}

{% block extra_js%}
{{ form.media.js }}
{% endblock %}

{% block main-class %}container{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 col-lg-6">

    <h1>{% trans "Add course material" %}</h1>

    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <div class="text-right">
        <a href="{% url 'teaching:coursematerial-list'  %}">
          {% trans "Cancel" %}
        </a>
        {% bootstrap_button "Save" button_type="submit" button_class="btn-success" %}
      </div>
      {% endbuttons %}
    </form>

  </div>

</div>

{% endblock %}
