{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Add / Edit training organization" %}{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-6 col-lg-5">

    <h1>{% trans "Add an organization" %}</h1>

    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <div class="text-right">
        <a href="{% url 'teaching:organization-list'  %}">
          {% trans "Cancel" %}
        </a>

        {% bootstrap_button "Save" button_type="submit" button_class="btn-success" %}
      </div>
      {% endbuttons %}
    </form>

  </div>

</div>

{% endblock %}
