{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Training organization list" %}{% endblock %}

{% block main-class %}container{% endblock %}

{% block content %}

<h1>{% trans "Organization list" %}</h1>

{% if perms.teaching.add_trainingorganization %}
<p class="text-right">
  <a class="btn btn-primary"
  href="{% url 'teaching:organization-create' %}">
    {% trans "Add an organization" %}
  </a>
</p>
{% endif %}

{% if object_list %}

<div class="row">

  {% for orga in object_list %}
  <div class="col-sm-12 col-md-6">
    <div class="card mb-3">

      <div class="card-body">
        <h2 class="card-title">{{ orga }}</h2>
        <p class="card-text">{{ orga.description }}</p>
      </div>
      <div class="card-footer small d-flex">
        <div class="meta flex-grow-1">
          {% if orga.city %}
          <span class="city">{{ orga.city }}</span><br>
          {% endif %}
          {% if orga.website %}
          <span class="link"><a class="card-link" target="_blank" href="{{ orga.website }}">{% trans "Website" %}</a></span>
          {% endif %}
        </div>
        <div>
          {% if perms.teaching.change_trainingorganization %}
          <a href="{% url 'teaching:organization-update' orga.pk %}" class="btn btn-secondary btn-sm">{% trans "Edit" %}</a>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
  {% endfor %}

</div>

{% else %}

<p>{% trans "No organization!" %}</p>

{% endif %}

{% endblock %}
