{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block main-class %}container{% endblock %}

{% block content %}
<h1>
    {% if homepage_title %}
        {{ homepage_title}}
    {% else %}
        {% trans "Course material catalogue" %}
    {% endif %}
</h1>
<h2>{% trans "Three random resources" %}</h2>
<div class="row">

    {% for course in object_list %}
    <div class="col-sm-6 col-lg-4">
        <div class="card mb-3">
            {% include "teaching/_partials/course_card.html" %}
        </div>
    </div>
    {% endfor %}

</div>

<p class="text-right"><a href="{% url 'teaching:coursematerial-list' %}">&RightArrow; {% trans "See all resources" %}</a></p>

{% endblock %}