#content {
    min-height: calc(100vh - 96px);
    padding-top: 30px;
}
.h1, h1 {
    font-size: 2.2rem;
}
.h2, h2 {
    font-size: 1.6rem;
}
.h3, h3 {
    font-size: 1.3rem;
}
.h4, h4 {
    font-size: 1.3rem;
}
.h5, h5 {
    font-size: 1.1rem;
}
.h5, h5 {
    font-size: 1rem;
}

/* Pending and draft cards */
.card.pending, .card.draft {
    opacity: 0.6;
}
.card.pending {
    border-color: var(--warning);
}
.card.draft {
    border-color: var(--gray);
}
