{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block main-class %}container{% endblock %}

{% block content %}
<h1>
    Ressources pédagogiques libres pour le numérique
</h1>
<h2>
    Mettre en commun des ressources pédagogiques pour l'éducation populaire au numérique
</h2>
<p>Projet d'application web pour mettre en commun des ressources pédagogique pour une
    l'éducation populaire au numériques. Il fait référence au projet
    <a href="https://potcommun.adn56.net/" target="_blank">Pot commun</a>
</p>
<h2>{% trans "Three random resources" %}</h2>
<div class="row">

    {% for course in object_list %}
    <div class="col-sm-6 col-lg-4">
        <div class="card mb-3">
            {% include "teaching/_partials/course_card.html" %}
        </div>
    </div>
    {% endfor %}

</div>

<p class="text-right"><a href="{% url 'teaching:coursematerial-list' %}">&RightArrow; {% trans "See all resources" %}</a></p>

{% endblock %}