{% extends "base.html" %}
{% load i18n bootstrap4 %}

{% block main-class %}container{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
	<div class="col-md-10 col-lg-6">

        <h1>{% trans "Login" %}</h1>
        {% if form.errors %}
        <p>{% trans "Your username and password didn't match. Please try again." %}</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>{% trans "Your account doesn't have access to this page. To proceed,
            please login with an account that has access." %}</p>
            {% else %}
            <p>{% trans "Please login to see this page." %}</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        {% endbuttons %}
        </form>

        <p><a href="{% url 'password_reset' %}">{% trans "Lost password?" %}</a></p>

	</div>
</div>
{% endblock %}
