{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block main-class %}container{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
	<div class="col-md-10 col-lg-6">

		<h1>{% trans "Sign up" %}</h1>
		<form method="post">
			{% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}
			<div class="text-right">
				{% bootstrap_button "Signup" button_type="submit" button_class="btn-success" %}
			</div>
			{% endbuttons %}
		</form>
	</div>
</div>

{% endblock %}